mixin css ( assets )
  if assets.css
    each css in assets.css
      link(
        rel= css.rel || "stylesheet",
        href= css.href,
        media= css.media
      )

mixin js ( assets )
  if assets.js
    each js in assets.js
      script(
        src= js.src,
        type= js.type = "module" ? "module" : "text/javascript",
        defer= js.defer ? true : undefined,
        async= js.async ? true : undefined
      )

mixin preload ( assets )
  if assets.preload
    each preload in assets.preload
      link(
        rel= "preload",
        href= preload.href,
        as= preload.as,
        type= preload.type ? preload.type : undefined,
        crossorigin= preload.crossOrigin ? preload.crossOrigin : undefined
      )

mixin icon ( name )
  svg.___icon( viewBox= "0 0 24 24", xmlns= "http://www.w3.org/2000/svg" )
    use( xlink:href= "/assets/images/icons.svg#" + name )
