include ../mixin/assets

header#header.__apm_header( role= "banner", aria-label= "Header" )
  div.__apm_header__container
    div.__apm_header__left
      a.__apm_header__site_title( href= "/", title= alt = fn.i18n( 'app.generic:slogan' ), aria-label= "Site title" )
        object.__apm_header__site_logo( data= "assets/images/logo.svg", type= "image/svg+xml", aria-label= "Logo" )
          img( src= "assets/images/logo_256x256.png", alt= alt )
        object.__apm_header__site_wordmark( data= "assets/images/wordmark.svg", type= "image/svg+xml", aria-label= "Wordmark" )
          img( src= "assets/images/wordmark_256x27.png", alt= alt )

    div#search.__apm_header__center
      include ./searchbar

    div.__apm_header__right
      div.__apm_header__actions
        div.__apm_header__actions_item
          button.__apm_header__actions_button.__apm_action_button(
            data-action= "toggle", data-selector= "#search", aria-label= "Open Search",
            data-backdrop= 1, title= fn.i18n( 'app.generic:header.action.search' )
          ): +icon( 'search' )

        div.__apm_header__actions_item
          button.__apm_header__actions_button.__apm_action_button(
            data-action= "toggle", data-selector= "#translate", aria-label= "Select Language",
            title= fn.i18n( 'app.generic:header.action.translate' )
          ): +icon( 'translate' )
          div#translate.__apm_header__actions_dropdown
            each l in app.supportedLngs
              button(
                class= ( l.code === cookies.locale ? '___active' : '' ),
                data-action= "cookie", data-name= "locale", data-value= l.code,
                data-reload= 1, aria-label= l.label
              )= l.label

        div.__apm_header__actions_item
          button.__apm_header__actions_button.__apm_action_button(
            data-action= "cookie", data-name= "theme", data-reload= 1,
            data-value= ( cookies.theme === 'dark' ? 'light' : 'dark' ),
            aria-label= "Toggle Theme",
            title= fn.i18n( 'app.generic:header.action.theme' )
          )
            span.___light_only: +icon( 'light' )
            span.___dark_only: +icon( 'dark' )

        div.__apm_header__actions_item
          button.__apm_header__actions_button.__apm_action_button(
            data-action= "toggle", data-selector= "#sidepanel", aria-label= "Open Sidepanel",
            data-backdrop= 1, title= fn.i18n( 'app.generic:header.action.sidepanel' )
          ): +icon( 'menu' )
