include ../mixin/menu

div#sidepanel.__apm_sidepanel( aria-label= "Sidepanel" )
  div.__apm_sidepanel__header
    h2.__apm_sidepanel__header_title= fn.i18n( 'app.generic:sidepanel.title' )
    button.__apm_sidepanel__header_close.__apm_action_button(
    data-action= "toggle", data-selector= "#sidepanel", aria-label= "Close Sidepanel",
    title= fn.i18n( 'app.generic:close' )
  ): +icon( 'close' )
  div.__apm_sidepanel__content
    section.__apm_sidepanel__section
      h3.__apm_sidepanel__section_title
        +icon( 'search' )
        span= fn.i18n( 'app.generic:sidepanel.navigation' )
      +menu( [
        { href: '/', label: fn.i18n( 'app.generic:nav.home' ) },
        { href: '/airports', label: fn.i18n( 'app.generic:nav.airports' ) },
        { href: '/weather', label: fn.i18n( 'app.generic:nav.weather' ) },
        { href: '/sigmets', label: fn.i18n( 'app.generic:nav.sigmets' ) },
        { href: '/traffic', label: fn.i18n( 'app.generic:nav.traffic' ) },
        { href: '/about', label: fn.i18n( 'app.generic:nav.about' ) },
        { href: '/stats', label: fn.i18n( 'app.generic:nav.stats' ) }
      ], {
        aria: 'Navigation',
        classes: '__apm_sidepanel__section_links'
      } )

    section.__apm_sidepanel__section
      h3.__apm_sidepanel__section_title
        +icon( 'preferences' )
        span= fn.i18n( 'app.generic:sidepanel.preferences' )
      div.__apm_sidepanel__settings
        div.__apm_sidepanel__settings_group
          h4.__apm_sidepanel__settings_label= fn.i18n( 'app.generic:settings.units.label' )
          p.__apm_sidepanel__settings_desc= fn.i18n( 'app.generic:settings.units.desc' )
          div.__apm_sidepanel__settings_options
            each u in [ 'metric', 'imperial' ]
              button.__apm_settings_button(
                class= ( u === cookies.units ? '___active' : '' ),
                data-action= "cookie", data-name= "units", data-value= u, data-reload= 1,
                aria-label= label = fn.i18n( 'app.generic:settings.units.' + u )
              )= label

    section.__apm_sidepanel__section
      h3.__apm_sidepanel__section_title
        +icon( 'link' )
        span= fn.i18n( 'app.generic:sidepanel.links' )
      div.__apm_sidepanel__section_grid( role= "menu", aria-label= "Resources & Links" )
        -
          var external = [
            { href: 'https://github.com/airportmap', label: fn.i18n( 'app.generic:external.github' ) },
            { href: 'https://api.airportmap.de', label: fn.i18n( 'app.generic:external.apidocs' ) },
            { href: 'https://embed.airportmap.de', label: fn.i18n( 'app.generic:external.embed' ) },
            { href: 'https://x.com/openairportmap', label: fn.i18n( 'app.generic:external.twitter' ) },
            { href: 'https://editor.airportmap.de', label: fn.i18n( 'app.generic:external.editor' ) },
            { href: 'https://db.airportmap.de', label: fn.i18n( 'app.generic:external.database' ) }
          ]
        each l in external
          a.external( href= l.href, role="menuitem", aria-label= l.label )= l.label
