include ../mixin/menu

div#sidepanel.__apm_sidepanel( aria-label= "Sidepanel" )
  div.__apm_sidepanel__header
    h2.__apm_sidepanel__header_title= fn.i18n( 'app.generic:sidepanel.title' )
    button.__apm_sidepanel__header_close.__apm_action_button(
    data-action= "toggle", data-selector= "#sidepanel", aria-label= "Close Sidepanel",
    title= fn.i18n( 'app.generic:close' )
  ): +icon( 'close' )
  div.__apm_sidepanel__content
    section.__apm_sidepanel__section
      h3.__apm_sidepanel__section_title
        +icon( 'search' )
        span= fn.i18n( 'app.generic:sidepanel.navigation' )
      +menu( [
        { href: '/', label: fn.i18n( 'app.generic:nav.home' ) },
        { href: '/airports', label: fn.i18n( 'app.generic:nav.airports' ) },
        { href: '/weather', label: fn.i18n( 'app.generic:nav.weather' ) },
        { href: '/sigmets', label: fn.i18n( 'app.generic:nav.sigmets' ) },
        { href: '/traffic', label: fn.i18n( 'app.generic:nav.traffic' ) },
        { href: '/about', label: fn.i18n( 'app.generic:nav.about' ) },
        { href: '/stats', label: fn.i18n( 'app.generic:nav.stats' ) }
      ], {
        aria: 'Navigation',
        classes: '__apm_sidepanel__section_links'
      } )

    section.__apm_sidepanel__section
      h3.__apm_sidepanel__section_title
        +icon( 'preferences' )
        span= fn.i18n( 'app.generic:sidepanel.preferences' )

    section.__apm_sidepanel__section
      h3.__apm_sidepanel__section_title
        +icon( 'link' )
        span= fn.i18n( 'app.generic:sidepanel.links' )
      div.__apm_sidepanel__section_grid( role= "menu", aria-label= "Resources & Links" )
        a.external( href= "https://github.com/airportmap" )= fn.i18n( 'app.generic:external.github' )
        a.external( href= "https://api.airportmap.de" )= fn.i18n( 'app.generic:external.apidocs' )
        a.external( href= "https://embed.airportmap.de" )= fn.i18n( 'app.generic:external.embed' )
        a.external( href= "https://x.com/openairportmap" )= fn.i18n( 'app.generic:external.twitter' )
        a.external( href= "https://editor.airportmap.de" )= fn.i18n( 'app.generic:external.editor' )
        a.external( href= "https://db.airportmap.de" )= fn.i18n( 'app.generic:external.database' )
